<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534459594035-p9pnbt0jg6tmts3ov4fdpdpdnfo2qgmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534459594035-p9pnbt0jg6tmts3ov4fdpdpdnfo2qgmm</string>
	<key>API_KEY</key>
	<string>AIzaSyB_kUHlXQzpbHfS1Y1alyzZXjxLoH7uIHA</string>
	<key>GCM_SENDER_ID</key>
	<string>534459594035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thaksina.ShareMang</string>
	<key>PROJECT_ID</key>
	<string>sharemang-6beaf</string>
	<key>STORAGE_BUCKET</key>
	<string>sharemang-6beaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534459594035:ios:a0c4b95f6b540232133a46</string>
</dict>
</plist>